@use "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: $primary-font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $primary-color;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  vertical-align: middle;
}
