/* здесь используйте глобальные переменные */
$primary-font-family: "Roboto",sans-serif;
$secondary-font-family: "Open-Sans", sans-serif;

/* Цвета проекта */
$primary-color: #f91155;
$secondary-color: #3c3e43;
$tertiary-color: #ffffff;
$price-color: #ff4b77;
$accient-color: #ff7647;
$error-color: #ff8282;


$tablet: 768px;
$desktop: 1280px;
$mobile-only: 768px - 1;
