/* здесь используйте глобальные переменные */
$primary-font-family: "Lato",sans-serif;
$secondary-font-family: "Oswald", sans-serif;

/* Цвета фона */
$primary-bg: #ffffff;
$secondary-bg: #f2f2f2;
$accient-bg: #eaeaea;

/* Цвета проекта */
$primary-color: #444444;
$secondary-color: #000000;
$tertiary-color: #111111;
$quaternary-color: #222222;
$slider-color: #666666;
$accient-color: #68b738;

/* Цвета бордеров */
$primary-border-color: #d9d9d9;
$secondary-border-color: #cdcdcd;
$tertiary-border-color: #ebebeb;
$primary-border: 1px solid $primary-border-color;
$secondary-border: 1px solid $secondary-border-color;
$tertiary-border: 1px solid $tertiary-border-color;
$accient-border: 1px solid $accient-color;

$tablet: 768px;
$desktop: 1440px;
$mobile-menu-open: 768px - 1;
