/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";
@import "./common/visually-hidden.scss";

/* BLOCKS */
@import "./blocks/page.scss";
@import "./blocks/header.scss";
@import "./blocks/footer.scss";
@import "./blocks/title-h1.scss";
@import "./blocks/title-h2.scss";
@import "./blocks/title-h3.scss";
@import "./blocks/button.scss";
@import "./blocks/nav.scss";
@import "./blocks/logo.scss";
@import "./blocks/hero.scss";
@import "./blocks/programs.scss";
@import "./blocks/instructions.scss";
@import "./blocks/example.scss";
@import "./blocks/slider.scss";
@import "./blocks/contacts.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";
@import "./blocks/catalog.scss";
@import "./blocks/product-card.scss";
@import "./blocks/additional-products.scss";
@import "./blocks/additional-product.scss";
@import "./blocks/promo.scss";
@import "./blocks/subscribe.scss";
@import "./blocks/form.scss";

