.additional-products__title {
  line-height: 24px;
  text-transform: none;

  @media (min-width: $tablet) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (min-width: $desktop) {
    font-size: 40px;
    line-height: 40px;
  }
}

.additional-products__list {
  list-style-type: none;
}

.additional-products__link {
  text-decoration: none;
}
