.additional-products {
  margin-top: 25px;

  @media (min-width: $tablet) {
    margin-top: 74px;
  }
}

.additional-products__container {
  padding-top: 24px;

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    gap: 80px;
  }

  @media (min-width: $desktop) {
    padding-top: 80px;
  }
}

.additional-products__item {
  border-top: $secondary-border;
  margin-bottom: 17px;
  padding-top: 10px;

  @media (min-width: $tablet) {
    border: $secondary-border;
    border-top: none;
    padding: 26px 38px 28px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    border: none;
    border-top: $secondary-border;
    padding: 15px 0;
  }
}

.additional-products__item:last-child {
  border-bottom: $secondary-border;
  padding-bottom: 10px;

  @media (min-width: $tablet) {
    border: $secondary-border;
    border-top: none;
    padding: 26px 38px 28px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    border: none;
    border-top: $secondary-border;
    border-bottom: $secondary-border;
    padding: 15px 0;
  }
}

.additional-products__title {
  line-height: 24px;
  text-transform: none;
  margin: 0;
  position: relative;
  width: fit-content;
  background: $primary-bg;
  box-shadow: -40px 0 0 0 #ffffff, 40px 0 0 0 #ffffff;

  @media (min-width: $tablet) {
    font-size: 32px;
    line-height: 32px;
    padding-left: 40px;
    box-shadow: 0 0 0 0 #ffffff, 40px 0 0 0 #ffffff;
  }

  @media (min-width: $desktop) {
    font-size: 40px;
    line-height: 40px;
    padding-left: 0;
    box-shadow: -40px 0 0 0 #ffffff, 40px 0 0 0 #ffffff;
  }
}

.additional-products__list {
  margin-top: 10px;
  margin-bottom: 40px;
  list-style-type: none;
  padding: 0;

  @media (min-width: $tablet) {
    margin-top: 55px;
    margin-bottom: 68px;
  }

  @media (min-width: $desktop) {
    grid-area: 1 / 1 / 2 / 2;
    margin: 0;
  }
}

.additional-products__promo {
  @media (min-width: $desktop) {
    grid-area: 1 / 2 / 2 / 3;
  }
}

.additional-products__link {
  text-decoration: none;
}
