.additional-product__title {
  color: $quaternary-color;
}

.additional-product__content {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 14px;
  color: $primary-color;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20 px;
  }
}

