.additional-product__title {
  color: $quaternary-color;
}

.additional-product__content {
  font-family: $primary-font-family;
  line-height: 14px;
  color: $primary-color;

  @media (min-width: $tablet) {
    line-height: 20px;
  }
}
