.button {
  font-family: $secondary-font-family;
  text-transform: uppercase;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--primary {
  background-color: $accient-color;
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  padding: 14px 26px;
}

.button--secondary {
  background-color: $accient-color;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 26px;
}

.button--tertiary {
  background-color: $accient-color;
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  padding: 15px 81px;
}

.button--accent {
  background-color: $secondary-bg;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 26px;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: #444444;
  }
}
