@use "../common/mixins.scss";
@use "../common/variables.scss";

.catalog__title {
  padding-bottom: 8px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet) {
    // display: flex;
    // flex-wrap: wrap;
    // gap: 60px;
    // justify-content: center;
    // text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px 60px;
    padding: 36px 0 0;
  }

  @media (min-width: $desktop) {
    // gap: 80px 63px;
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
    padding: 84px 0 0;
  }
}

// .catalog__item {
//   @media (min-width: $tablet) {
//     padding: 0 37px 40px;
//   }
// }
