@use "../common/mixins.scss";
@use "../common/variables.scss";

.catalog__container {
  @media (min-width: $desktop) {
    padding-top: 20px;
  }
}

.catalog__title {
  margin-top: 28px;
  margin-bottom: 41px;

  @media (min-width: $tablet) {
    margin-top: 38px;
    margin-bottom: 95px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 90px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    gap: 72px 60px;
  }

  @media (min-width: $desktop) {
    gap: 63px 80px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.catalog__item {
  &::after {
    content: "";
    width: 100vw;
    height: 1px;
    background: $tertiary-border-color;
    box-shadow: 100vw 0 0 0 $tertiary-border-color;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;


    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.catalog__button {
  min-width: 280px;

  @media (min-width: $tablet) {
    min-width: 250px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    min-width: 169px;
  }
}
