.contacts__description {
  font-family: $primary-font-family;
  line-height: 20px;
  color: $primary-color;

  @media (min-width: $tablet) {
    // font-size: 16px; надо удалить
  }
}

.contacts__container--secondary {
  background-color: $secondary-bg;
}
