
.contacts {
}

.contacts__container {
  z-index: 2;
  background-color: $primary-bg;
  width: 100%;
  margin: 0;
  position: relative;
}

.contacts__container--accient {
  background-color: $secondary-bg;
}

.contacts__content {
  @media (min-width: $desktop) {
    display: block;
    position: absolute;
    left: 110px;
    top: 95px;
  }
}

.contacts__content--accient {
  @media (min-width: $desktop) {
    background-color: $primary-bg;

  }
}

.contacts__description {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 26px 20px;

  @media (min-width: $tablet) {
    padding: 60px 70px;
  }
}

.contacts__title {
  max-width: 50%;
  margin: 0;
  font-family: $secondary-font-family;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $primary-color;

  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  max-width: 50%;
  line-height: 20px;
  font-style: normal;
  word-wrap: break-word;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
  }
}

.contacts__map {
  position: relative;
  width: 100%;
  height: 362px;
  vertical-align: middle;

  @media (min-width: $tablet) {
    height: 400px;
  }
}

.contacts__image {
  width: 100%;
  height: 362px;

  @media (min-width: $tablet) {
    height: 400px;
  }
}

.contacts iframe {
  z-index: 2;
  width: 100%;
  height: 362px;
  border: 0;

  @media (min-width: $tablet) {
    height: 400px;
  }

}
