.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  // border: 1px solid red;

  @media (min-width: $tablet) {
    padding: 0 30px;
    max-width: 708px + 60;
  }

  @media (min-width: $desktop) {
    padding: 0 30px;
    max-width: 1220px + 60;
  }
}
