.copyright {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &::after {
    content: "";
    background-color: $slider-color;
    width: 27px;
    height: 34px;
    mask-image: url("../../icons/stack.svg#logo-html");
    mask-position: center;
    mask-size: contain;
    mask-repeat: no-repeat;
    display: block;
  }

  &:hover,
  &:focus {
    &::after {
      background-color: $accient-color;
    }
  }

  &:active {
    &::after {
      background-color: rgba(104, 183, 56, 0.3);
    }
  }

  @media (min-width: $tablet) {
    border: 1px solid blue;
  }
}

.copyright__text {
  font-family: $primary-font-family;
  font-size: 16px;
  line-height: 20px;
  color: $primary-color;

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}
