
.example {
  background-color: $accient-bg;
}

.example__title {
  line-height: 40px;
}

.example__text {
  font-family: $primary-font-family;
  color: $primary-color;

  @media (min-width: $tablet) {
    font-size: 14px;
  }
}

.example__item {
  list-style-type: none;
}

.example__item-header {
  font-family: $secondary-font-family;
  font-size: 24px;
  line-height: 24px;
  color: $secondary-color;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__item-text {
  font-family: $primary-font-family;
  font-size: 12px;
  line-height: 12px;
  color: $primary-color;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__price {
  font-family: $secondary-font-family;
  line-height: 20px;
  color: $secondary-color;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
  }
}
