.example {
  background-color: $accient-bg;
  padding: 25px 0;
  display: flex;
  flex-direction: column;

  &::after {
    content: "";
    max-width: 100%;
    height: 462px;
    display: none;

    @media (min-width: $tablet) {
      content: "";
      background-color: $accient-bg;
      display: block;

      // position: absolute;
      // top: 10px;
      // left: 10px;
    }
  }

  @media (min-width: $tablet) {
    background-color: $primary-bg;
    margin: 0 auto;
    max-width: 708px + 60;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    max-width: 1220px + 60;
  }
}

.example__content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}

.example__title {
  line-height: 40px;
  margin: 0;
}

.example__text {
  font-family: $primary-font-family;
  color: $primary-color;
  margin-top: 40px;

  @media (min-width: $tablet) {
    font-size: 14px;
  }
}

.example__list {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
}

.example__item {
  list-style-type: none;
  border: $secondary-border;
  border-radius: 4px;
  height: 70px;
  width: 124px;
  display: block;
  position: relative;
}

.example__item-header {
  font-family: $secondary-font-family;
  font-size: 24px;
  line-height: 24px;
  color: $secondary-color;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__item-text {
  font-family: $primary-font-family;
  font-size: 12px;
  line-height: 12px;
  color: $primary-color;
  text-align: center;
  background-color: $accient-bg;
  background-size: 87px 24px;
  position: absolute;
  top: 80%;
  left: 20px;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__price {
  font-family: $secondary-font-family;
  line-height: 20px;
  color: $secondary-color;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 20px;
  }
}

.example__slider {
  z-index: 1;
}
