.footer {
  background-color: $secondary-bg;
  // margin: 0 auto;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
  gap: 20px;


  @media (min-width: $tablet) {
    // display: flex;
    // align-items: center;
    flex-direction: row;
    // flex-shrink: 1;
    justify-content: space-between;
    // gap: 20px;
  }
}

.footer__logo {
  // width: 100%;
  // margin: 0 auto;


  @media (min-width: $tablet) {
    width: 100%;
  }
}

// .footer__logo-icon {
//   // margin: 0 auto;
// }
