@use "../common/variables.scss";

.form__control {
  font-family: $secondary-font-family;
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
  color: $primary-color;
  text-align: left;
  border: 1px solid #e7e7e7;
  width: 100%;
  margin-bottom: 14px;
  padding: 13px;

  @media (min-width: $tablet) {
    min-width: 376px;
  }

  @media (min-width: $desktop) {
    min-width: 496px;
    margin-bottom: 0;
  }

  &:hover {
    border: $secondary-border;
  }

  &:focus {
    border: 2px solid $primary-color;
  }

  &:active {
    border: 1px solid #e7e7e7;
  }

  &:disabled {
    color: #ffffff;
    background-color: $primary-color;

    &:hover {
      background-color: $primary-color;
      outline: none;
      cursor: default;
    }
  }
}

.form__control--error {
  border: 2px solid $error-color;
}

.form__button {
  width: 100%;
  padding: 15px 69px;

  @media (min-width: $tablet) {
    max-height: 56px;
    min-width: 256px;
  }
}
