.hero {
  // position: relative;

  &::before {
    content: "";
    background-repeat: no-repeat;
    background-position: center top;
    background-image: linear-gradient(#68b738d9, #68b738d9), url("../../images/hero-background-cat@1x.png"), linear-gradient(#68b738, #68b738);
    background-size: contain, cover;
    width: 100%;
    height: 302px;
    display: block;
    position: absolute;
    z-index: -1;

    @media (min-width: $tablet) {
      display: none;
    }

    @media (min-width: $desktop) {
      display: block;
      width: 50%;
      height: 694px;
      background-image: linear-gradient(#68b738d9, #68b738d9), url("../../images/hero-background-desktop@1x.png"), linear-gradient(#68b738, #68b738);
      top: 0;
      right: 0;
    }
  }
}

.hero__content {
  // width: 100%;
  display: flex;
  flex-direction: column;
  // flex-flow: wrap;
  align-items: center;
  text-align: center;
  padding-top: 25px;


  @media (min-width: $tablet) {
    align-items: start;
    text-align: left;
    padding-left: 90px;
    padding-top: 22px;
  }

  @media (min-width: $desktop) {
    text-align: left;
    padding-top: 70px;
    padding-left: 80px;
    position: relative;
    width: 73%;
    height: 550px;

  }
}

.hero__title {
  color: #ffffff;
  margin: 0;
  padding-bottom: 13px;


  @media (min-width: $tablet) {
    color: $secondary-color;
    padding-bottom: 40px;
    padding-top: 30px;
    max-width: 560px;
  }
}

.hero__text {
  font-family: $secondary-font-family;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 29px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    color: $secondary-color;
    margin: 0;
    z-index: 1;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

.hero__wrap {
  @media (min-width: $tablet) {
    order: 2;
    z-index: -1;
    // margin-top: -23px;
    // margin-left: -90px;
  }
}


.hero__image {
  margin: 0 auto;
  display: block;

  @media (min-width: $tablet) {
    min-width: 709px;
    height: 609px;
    margin-top: -85px;
    margin-left: -90px;
  }

  @media (min-width: $desktop) {
    left: 52%;
    top: 100px;
    position: absolute;
    width: 552px;
    height: 499px;
  }
}

.hero__button {
  font-size: 16px;
  line-height: 26px;
  padding: 8px 63px;

  @media (min-width: $tablet) {
    // order: 1;
    font-size: 20px;
    padding: 14px 26px;
  }

  @media (min-width: $desktop) {
    padding: 14px 26px;
  }
}

