.hero {
  // position: relative;
}

.hero__content {
  width: 100%;
  border: 1px solid red;

  @media (min-width: $desktop) {
    text-align: left;
    width: fit-content;
  }
}

.hero__banner {
  background-repeat: no-repeat;
  background-position: center top;
  background-image: linear-gradient(#68b738d9, #68b738d9), url("../../images/hero-background-cat@1x.png"), linear-gradient(#68b738, #68b738);
  background-size: contain, cover;
  width: 100%;
  height: 302px;


  &::before {
    content: "";
    display: none;

    @media (min-width: $desktop) {
      display: block;
      background-repeat: no-repeat;
      background-position: center top;
      background-image: linear-gradient(#68b738d9, #68b738d9), url("../../images/hero-background-desktop@1x.png"), linear-gradient(#68b738, #68b738);
      background-size: contain, cover;
      width: 50%;
      height: 694px;
      position: absolute;
      top: -10px;
      right: 0;
      z-index: -1;
    }
  }

  @media (min-width: $tablet) {
    background-image: none;
  }
}

.hero__title {
  color: #ffffff;
  padding: 27px 25px;

  @media (min-width: $tablet) {
    color: $secondary-color;
  }
}

.hero__text {
  font-family: $secondary-font-family;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    color: $secondary-color;
  }
}

.hero__button {
}
