.instructions {
  padding-bottom: 34px;
}

.instructions__content {
  // padding-top: 22px;

  @media (min-width: $tablet) {
    border-bottom: $tertiary-border;
  }

  @media (min-width: $desktop) {
    border: none;
  }
}

.instructions__title {
  margin-bottom: 43px;

  @media (min-width: $tablet) {
    margin-top: 50px;
    margin-bottom: 73px;
  }
}

.instructions__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  @media (min-width: $tablet) {
    flex-flow: row wrap;
    justify-content: start;
    gap: 37px 132px;
  }

  @media (min-width: $desktop) {
    flex-wrap: nowrap;
    gap: 77px;
  }
}

.instructions__item {
  display: flex;
  justify-content: start;
  gap: 20px;
  position: relative;
  counter-increment: instructions 1;

  @media (min-width: $tablet) {
    min-height: 280px;
    min-width: 249px;
    flex-direction: column;
    gap: 31px;
  }


  &::before {
    content: "";
    background-color: $accient-color;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 60px;
    min-height: 60px;

    display: block;

    @media (min-width: $tablet) {
      max-width: 80px;
      min-height: 80px;
    }
  }

  &::after {
    @media (min-width: $tablet) {
      font-family: $secondary-font-family;
      font-size: 280px;
      line-height: 200px;
      content: counter(instructions);
      position: absolute;
      color: $secondary-bg;
      top: 0;
      right: 0;
      width: 134px;
      display: flex;
      justify-content: center;
      align-items: start;
      z-index: -1;
    }
  }

  &--useful {
    &::before {
      content: "";
      background-repeat: no-repeat;
      background-position: 50%;
      background-image: url("../../icons/stack.svg#icon-leaf");
      background-size: 30px 32px;
    }
  }

  &--powder {
    &::before {
      content: "";
      background-repeat: no-repeat;
      background-position: 50%;
      background-image: url("../../icons/stack.svg#icon-powder");
      background-size: 30px 32px;
    }
  }

  &--meal {
    &::before {
      content: "";
      background-repeat: no-repeat;
      background-position: 50%;
      background-image: url("../../icons/stack.svg#icon-eat");
      background-size: 30px 32px;
    }
  }

  &--good {
    &::before {
      content: "";
      background-repeat: no-repeat;
      background-position: 50%;
      background-image: url("../../icons/stack.svg#icon-time");
      background-size: 30px 32px;
    }
  }
}

.instructions__item-text {
  margin: 0;
  // padding: 2px 0 4px;
  word-break: break-word;

  @media (min-width: $tablet) {
    max-width: 250px;
  }
}

