.instructions {
  background-color: $primary-bg;
}

.instructions__list {
  list-style-type: none;
}

.instructions__item-text {
  font-family: $primary-font;
  font-size: 14px;
  line-height: $line-height;
  color: $primary-color;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.instructions__item::before {
  background-color: $tertiary-bg;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  display: block;
}

.instructions__item--useful::before {
  content: "";
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url("../../icons/stack.svg#icon-leaf");
  background-size: 30px 32px;
}

.instructions__item--powder::before {
  content: "";
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url("../../icons/stack.svg#icon-powder");
  background-size: 30px 32px;
}

.instructions__item--meal::before {
  content: "";
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url("../../icons/stack.svg#icon-eat");
  background-size: 30px 32px;
}

.instructions__item--good::before {
  content: "";
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url("../../icons/stack.svg#icon-time");
  background-size: 30px 32px;
}
