.instructions {
  background-color: $primary-bg;
  padding-bottom: 34px;
}

.instructions__title {
  margin-bottom: 43px;
}

.instructions__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  // flex-flow: wrap;

  justify-content: space-between;
  gap: 20px;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-flow: row wrap;
  }
}

.instructions__item {
  display: flex;
  justify-content: start;
  gap: 20px;
  position: relative;
  counter-increment: specials 1;

  @media (min-width: $tablet) {
    min-height: 280px;
    min-width: 249px;
    flex-direction: column;
    // display: block;
    // padding: 40px 0;

  }


  &::before {
    content: "";
    background-color: $accient-color;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 60px;
    min-height: 60px;

    display: block;

    @media (min-width: $tablet) {
      min-width: 60px;
      max-height: 60px;
    }
  }

  &::after {
    @media (min-width: $tablet) {
      font-family: $secondary-font-family;
      font-size: 280px;
      line-height: 280px;
      content: counter(specials);
      position: absolute;
      color: $secondary-bg;
      top: 0;
      right: 0;
      width: 134px;
      display: flex;
      justify-content: center;
      z-index: -1;
    }
  }

  &--useful {
    &::before {
      content: "";
      background-repeat: no-repeat;
      background-position: 50%;
      background-image: url("../../icons/stack.svg#icon-leaf");
      background-size: 30px 32px;
    }
  }

  &--powder {
    &::before {
      content: "";
      background-repeat: no-repeat;
      background-position: 50%;
      background-image: url("../../icons/stack.svg#icon-powder");
      background-size: 30px 32px;
    }
  }

  &--meal {
    &::before {
      content: "";
      background-repeat: no-repeat;
      background-position: 50%;
      background-image: url("../../icons/stack.svg#icon-eat");
      background-size: 30px 32px;
    }
  }

  &--good {
    &::before {
      content: "";
      background-repeat: no-repeat;
      background-position: 50%;
      background-image: url("../../icons/stack.svg#icon-time");
      background-size: 30px 32px;
    }
  }
}

.instructions__item-text {
  margin: 0;
}

