.logo {
  display: flex;
  // flex-flow: nowrap;
  flex-grow: 1;
  margin: 0;

  @media (min-width: $tablet) {
    max-width: 174px;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
  }
}

.logo__text {
  // flex-grow: 1;
  display: flex;
  margin: 0 auto;

  @media (min-width: $tablet) {
    margin: 0;
  }
}

