.logo {
  display: flex;
  flex-grow: 1;
  margin: 0;
  gap: 13px;

  @media (min-width: $tablet) {
    max-width: 174px;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    max-width: 202px;
  }
}

.logo__text {
  display: flex;
  align-self: center;
  // margin-left: 40px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    margin: 0;
    flex-grow: 1;
  }

  @media (min-width: $desktop) {
    // width: 118px;
    // height: 21px;
    // margin-left: 14px;
  }
}

