.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding-top: 13px;
  padding-bottom: 12px;
  background-color: $primary-bg;

  @media (min-width: $tablet) {
    padding-top: 25px;
  }

  @media (min-width: $desktop) {
    padding-top: 55px;
    background: none;
  }
}

.nav__list {
  font-family: $secondary-font-family;
  font-size: 20px;
  line-height: 20px;
  color: $secondary-color;
  text-transform: uppercase;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 2;
  display: none;
  // position: absolute;
  // background-color: $primary-bg;
  // top: 100%;
  // left: 0;
  // width: 100vw;
  // display: none;


  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: start;
    gap: 33px;
    min-width: 440px;
    // padding: 10px 0;
  }

  @media (min-width: $desktop) {
    max-width: 600px;
    font-size: 20px;
    line-height: 20px;
  }

  &--open {
    @media (min-width: $tablet) {
      display: none;
    }

    @media (max-width: $mobile-menu-open) {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: $primary-bg;
      z-index: 2;
      width: 100vw;
      display: block;
    }
  }
}

.nav__item {
  border-top: $tertiary-border;
  // padding: 22px 0;
  text-align: center;

  @media (min-width: $tablet) {
    border: none;
    display: inline-block;
    padding: 0;
  }
}

.nav__link {
  text-decoration: none;
  color: $secondary-color;
  // padding-bottom: 8px;

  @media (min-width: $desktop) {
    color: #ffffff;
  }

  &--current {
    border-bottom: none;

    @media (min-width: $tablet) {
      border-bottom: 2px solid $accient-color;
      padding: 6px 0;
    }

    @media (min-width: $desktop) {
      border-bottom: 2px solid #ffffff;
      padding: 8px 0;
    }
  }

  &--current-accient {
    border-bottom: none;

    @media (min-width: $tablet) {
      border-bottom: 2px solid $accient-color;
      padding: 6px 0;
    }

    @media (min-width: $desktop) {
      border-bottom: 2px solid $accient-color;
      padding: 8px 0;
    }
  }
}

.nav__link--accient {
  text-decoration: none;

  @media (min-width: $desktop) {
    color: $secondary-color;
  }
}

.nav__button {
  background-image: url("../../icons/stack.svg#burger");
  background-color: $primary-bg;
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: none;
  }


  &--close {
    background-image: url("../../icons/stack.svg#close-mobile");
  }

  @media (min-width: $tablet) {
    display: none;
  }
}

// .nav__button--close {
//   background-image: url("../../icons/stack.svg#close-mobile");
// }
