.product-card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr min-content;
  padding: 22px 0 25px;

  @media (min-width: $tablet) {
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content auto min-content;
    width: 100%;
    padding: 0 37px 40px;
    background-color: #ffffff;
    background-image: linear-gradient(rgba(#ffffff, 0) 0 70px, $secondary-bg 70px 100%);
  }

  @media (min-width: $desktop) {
    max-width: 245px;
    padding: 0 38px 40px;
  }
}

.product-card__link {
  text-decoration: none;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }
}

.product-card__title {
  max-width: 85px;
  margin: 0;

  @media (min-width: $tablet) {
    max-width: 150px;
  }
}

.product-card__options {
  @media (min-width: $tablet) {
    margin-bottom: 25px;
  }
}

.product-card__option {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    border-bottom: $secondary-border;
  }
}

.product-card__option-term {
  @media (min-width: $tablet) {
    margin-bottom: 8px;
  }
}

.product-card__text {
  font-family: $primary-font-family;
  font-size: 12px;
  line-height: 16px;
  color: $primary-color;
  margin-top: 10px;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 18px;
    width: 70%;
    margin-top: 22px;
    margin-bottom: 82px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    margin-bottom: 90px;
  }
}

.product-card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  text-align: center;
}

.product-card--add {
  border-bottom: 1px solid $tertiary-border-color;
  display: block;
  padding: 25px 0 23px;


  @media (min-width: $tablet) {
    border-bottom: none;
    border: 1px solid #f2f2f2;
    margin: 72px 0 0;
    background: none;
    padding: 104px 37px 40px;
    min-height: 429px;
    position: relative;
  }

  @media (min-width: $desktop) {
    margin: 75px 0 0;
    height: 435px;
  }

  &::before {
    content: "";
    background-color: #d3d3d3;
    min-width: 30px;
    min-height: 30px;
    mask-image: url("../../icons/stack.svg#plus");
    mask-position: center;
    mask-size: 30px 30px;
    mask-repeat: no-repeat;
    display: block;
    position: absolute;
    left: 45%;
    top: 25px;

    @media (min-width: $tablet) {
      min-height: 60px;
      min-width: 60px;
      mask-size: 60px 60px;
      left: 41%;
      top: 50px;
      // margin: 0 auto 50px;
      // padding: 0;
    }

    @media (min-width: $desktop) {
      margin: 0 auto 40px;
      left: 38%;
      top: 58px;
    }
  }
}

.product-card__add-text {
  text-decoration: none;

  @media (min-width: $tablet) {
    width: 60%;
  }

  @media (min-width: $desktop) {
    width: 100%;
  }
}

.product-card__picture {
  place-self: center center;
  grid-row: 1/-2;
  margin-top: -14px;

  @media (min-width: $tablet) {
    width: 200px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $desktop) {
    width: 169px;
    height: 210px;
  }
}

.product-card__button {
  grid-column: 1/-1;
}
