.product-card {
  background-color: $primary-bg;
}

.product-card__content {

}

.product-card__link {
  text-decoration: none;
}

.product-card__title {
  font-family: $secondary-font;
  font-size: $font-size;
  line-height: 20px;
  color: $quaternary-color;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 24px;
  }
}

.product-card__options {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  color: $primary-color;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product-card__text {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  color: $primary-color;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 18px;
  }
}
