.product-card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr min-content;
  padding-top: 22px;
  padding-bottom: 24px;
  // padding: 20px 20px 25px;
  border-top: 1px solid $tertiary-border-color;

  // border: 1px solid red;

  @media (min-width: $tablet) {
    max-width: 324px;
    grid-template-columns: 1fr;
    padding: 0 37px 40px;
    background-color: #ffffff;
    background-image: linear-gradient(rgba(#ffffff, 0) 0 70px, $secondary-bg 70px 100%);
    border-top: none;
  }

  @media (min-width: $desktop) {
    max-width: 245px;
    padding: 0 38px 40px;
  }
}

.product-card__link {
  text-decoration: none;
}

.product-card__title {
  margin: 0;
  max-width: 80px;

  @media (min-width: $tablet) {
    max-width: 150px;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 4px;
    margin-left: 20%;
    text-align: center;
  }
}

.product-card__option {
  display: flex;
  justify-content: space-between;
  // font-size: 12px;
  // line-height: 16px;

  @media (min-width: $tablet) {
    border-bottom: $secondary-border;
    margin-bottom: 8px;
  }
}

.product-card__option-term {
  // font-size: 12px;
  // line-height: 13px;
  // margin-bottom: 2px;
}

.product-card__option-definition {
  // font-size: 12px;
  // line-height: 16px;
}

.product-card__text {
  font-family: $primary-font-family;
  font-size: 12px;
  line-height: 16px;
  color: $primary-color;
  padding-top: 30px;

  @media (min-width: $tablet) {
    line-height: 18px;
  }
}

.product-card--add {
  border-top: 1px solid $tertiary-border-color;
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding-top: 26px;
  padding-bottom: 24px;

  @media (min-width: $tablet) {
    line-height: 18px;
    border: 1px solid $tertiary-border-color;
    margin-top: 73px;
    max-height: 429px;
    // padding-top: 50px;
    // padding-bottom: 50px;
  }


  &::before {
    content: "";
    background-color: #d3d3d3;
    min-width: 30px;
    min-height: 30px;
    mask-image: url("../../icons/stack.svg#plus");
    mask-position: 100%;
    mask-size: 30px 30px;
    mask-repeat: no-repeat;
    display: block;
    margin: 0 auto;

    @media (min-width: $tablet) {
      min-width: 60px;
      min-height: 60px;
      mask-size: 60px 60px;
    }
  }
}

.product-card__title--add {
  text-decoration: none;
  text-align: center;
  margin-top: 23px;
  max-width: 100%;

  @media (min-width: $tablet) {
    max-width: 150px;
    margin-left: 85px;
  }
}

.product-card__text--add {
  margin: 0;
  padding-top: 8px;
  text-align: center;
  margin-bottom: 21px;
}

.product-card__picture {
  place-self: center center;
  grid-row: 1/-2;

  @media (min-width: $tablet) {
    width: 200px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $desktop) {
    width: 169px;
    height: 210px;
  }
}

.product-card__button {
  grid-column: 1/-1;

  @media (min-width: $tablet) {
    margin-top: 4px;
  }
}

