.promo {
  background-color: $tertiary-bg;
  opacity: 0.85;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url("../../images/promo-mobile@1x.png");
  background-size: cover;
}

.promo__description {
  font-family: $primary-font;
  font-size: $font-size;
  line-height: 20px;
  color: #ffffff;
}

.promo__description::before {
  content: "";
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url("../../icons/stack.svg#icon-gift");
  width: 78px;
  height: 80px;
  display: block;
}
