@use "../common/variables.scss";

.room-card {
  color: $tertiary-color;
  width: 100%;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  }
}

.room-card .room-card__motivation {
  &:hover,
  &:focus {
    display: flex;
    justify-content: flex-start;
  }
}

.room-card__background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 13px;

  @media (min-width: $tablet) {
    border-radius: 10px;
  }
}

.room-card__background picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.room-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.room-card__container {
  position: relative;
  z-index: 1;
  padding: 24px 24px 21px 21px;
  // padding: 113px 24px 21px 21px;
  background: linear-gradient(to top, rgba(10, 34, 64, 1), rgba(10, 34, 64, 0.1));
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.room-card-received {
  position: relative;
  padding: 113px 24px 21px 21px;
  background: rgba(255, 255, 255, 0.4);
}

.room-card__title {
  text-decoration: none;
  font-family: $primary-font-family;
  font-size: 20px;
  line-height: 26px;
  color: $tertiary-color;
  font-weight: 600;
  margin-top: 113px;


  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 32px;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.5;
  }
}

.room-card__motivation {
  display: none;
  position: absolute;
  top: 24px;
  left: 24px;
}

.room-card__text-guaranted {
  font-family: $primary-font-family;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  background-color: $accient-color;
  padding: 4px 4px 4px 16px;
  border-radius: 3px 0 0 3px;
  margin: 0;
}

.room-card__icon {
  width: 36px;
  height: 30px;
}

.room-card__text {
  font-family: $secondary-font-family;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.room-card__booking {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 18px;

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: end;
    // height: auto;
  }
}

.room-card__price {
  @media (min-width: $desktop) {
    min-width: 117px;
  }
}

.room-card__button {
  width: 100%;
}

.room-card--received {
  background: #ffffff;
  opacity: 0.4;
}
