@use "../common/variables.scss";

.slider {
  @media (min-width: $desktop) {
    max-height: 512px;
  }
}

.slider__button {
  cursor: pointer;
  background-color: $slider-color;
  border: none;
  border-radius: 2px;
  width: 4px;
  height: 100%;
  padding: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;

  &::before {
    content: "";
    background-color: $primary-bg;
    border: 2px solid $slider-color;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    background-color: $slider-color;
    width: 24px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mask-image: url("../../icons/stack.svg#slider-arrows");
    mask-position: 50%;
    mask-size: 24px 18px;
    mask-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    background-color: $accient-color;

    &::before {
      border: 2px solid $accient-color;
    }

    &::after {
      background-color: $accient-color;
    }
  }

  &:active {
    background-color: rgba(104, 183, 56, 0.3);

    &::before {
      border: 2px solid rgba(104, 183, 56, 0.3);
    }

    &::after {
      background-color: rgba(104, 183, 56, 0.3);
    }
  }
}

.slider__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  max-width: initial;
}

.slider__image--state-before {
  object-position: left;
}

.slider__image--state-after {
  object-position: right;
}
