.social {
  background-color: $secondary-bg;
  list-style-type: none;
  display: flex;
  justify-content: center;
  border-top: $primary-border;
  border-bottom: $primary-border;
  padding: 20px;
  gap: 24px;
  margin: 0;
  width: 100%;

  @media (min-width: $tablet) {
    border: none;
  }
}

.social__link {
  &::before {
    content: "";
    background-color: $slider-color;
    width: 28px;
    height: 22px;
    display: block;
    mask-repeat: no-repeat;
    mask-position: 100%;
  }

  &:hover,
  &:focus {
    &::before {
      background-color: $accient-color;
    }
  }

  &:active {
    &::before {
      background-color: #5eaa2f;
    }
  }

  &--vk {
    mask-image: url("../../icons/stack.svg#vkontakte");
    mask-size: 28px 22px;
  }

  &--youtube {
    mask-image: url("../../icons/stack.svg#youtube");
    mask-size: 28px 22px;
  }

  &--tg {
    mask-image: url("../../icons/stack.svg#telegram");
    mask-size: 28px 22px;
  }
}
