.social {
  background-color: $secondary-bg;
  list-style-type: none;
}

.social__link {
  &::before {
    content: "";
    background-color: $slider-color;
    width: 28px;
    height: 22px;
    display: block;
    mask-repeat: no-repeat;
    mask-position: 100%;
  }

  &:hover,
  &:focus {
    &::before {
      background-color: $accient-color;
    }
  }

  &:active {
    &::before {
      background-color: rgba(104, 183, 56, 0.3);
    }
  }

  &--vk {
    mask-image: url("../../icons/stack.svg#vkontakte");
    mask-size: 28px 22px;
  }

  &--youtube {
    mask-image: url("../../icons/stack.svg#youtube");
    mask-size: 28px 22px;
  }

  &--tg {
    mask-image: url("../../icons/stack.svg#telegram");
    mask-size: 28px 22px;
  }
}
