.subscribe {
  margin-top: 35px;
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    margin-top: 80px;
    margin-bottom: 65px;
  }

  @media (min-width: $desktop) {
    margin-top: 100px;
  }
}

.subscribe__title {
  text-transform: none;
  position: relative;
  width: fit-content;
  background: $primary-bg;
  box-shadow: -40px 0 0 0 #ffffff, 40px 0 0 0 #ffffff;


  @media (min-width: $tablet) {
    font-size: 32px;
    line-height: 32px;
    padding-left: 40px;
    box-shadow: 0 0 0 0 #ffffff, 40px 0 0 0 #ffffff;
  }

  @media (min-width: $desktop) {
    font-size: 40px;
    line-height: 40px;
    padding-left: 0;
    box-shadow: -40px 0 0 0 #ffffff, 40px 0 0 0 #ffffff;
  }
}

.subscribe__text {
  font-family: $secondary-font-family;
  font-size: 16px;
  line-height: 24px;
  color: $secondary-color;
  text-align: center;
  margin-top: 26px;
  margin-bottom: 24px;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 32px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 66px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop) {
    padding-left: 0;
    padding-right: 0;
    margin-top: 70px;
  }
}

.subscribe__form {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: center;
    padding-left: 37px;
    padding-right: 37px;
  }

  @media (min-width: $desktop) {
    margin: 0 235px 104px;
  }
}
