@use "../common/variables.scss";

.title-h1 {
  font-family: $primary-font-family;
  // font-family: $secondary-font-family;
  font-size: 24px;
  line-height: 32px;
  color: $secondary-color;
  font-weight: 600;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 36px;
    font-weight: 500;
    line-height: 60px;
  }
}
