@use "../common/variables.scss";

.title-h1 {
  font-family: $secondary-font-family;
  font-size: 36px;
  line-height: 36px;
  color: $secondary-color;
  font-weight: 400;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}
