.title-with-line {
  &::before {
    content: "";
    background: $accient-color;
    box-shadow: 100vw 0 0 0 $accient-color;
    height: 2px;
    width: 100vw;
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: -1;

    @media (min-width: $tablet) {
      top: 14px;
    }

    @media (min-width: $desktop) {
      top: 18px;
    }
  }
}

// .title-with-line__secondary {
//   &::before {
//     content: "";
//     background: $accient-color;
//     // background: $accient-color;
//     box-shadow: 100vw 0 0 0 $accient-color;
//     height: 2px;
//     width: 100vw;
//     display: block;
//     position: absolute;
//     top: 15px;
//     right: 0;
//     z-index: -1;

//     @media (min-width: $tablet) {
//       top: 14px;
//     }

//     @media (min-width: $desktop) {
//       top: 18px;
//     }
//   }
// }

