@use "../common/variables.scss";

.title-with-line {
  &::before {
    content: "";
    background: $accient-color;
    box-shadow: 100vw 0 0 0 $accient-color;
    height: 2px;
    width: 100vw;
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: -1;

    @media (min-width: $tablet) {
      top: 14px;
    }

    @media (min-width: $desktop) {
      top: 18px;
    }
  }
}

.title-line-secondary {
  width: fit-content;
  background: $primary-bg;
  box-shadow: -40px 0 0 0 #ffffff, 40px 0 0 0 #ffffff;


  @media (min-width: $tablet) {
    font-size: 32px;
    line-height: 32px;
    padding-left: 40px;
    box-shadow: 0 0 0 0 #ffffff, 40px 0 0 0 #ffffff;
  }

  @media (min-width: $desktop) {
    font-size: 40px;
    line-height: 40px;
    padding-left: 0;
    box-shadow: -40px 0 0 0 #ffffff, 40px 0 0 0 #ffffff;
  }
}
